<%= form_with(model: contact_info) do |form| %>
  <% if contact_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_info.errors.count, "error") %> prohibited this contact_info from being saved:</h2>

      <ul>
        <% contact_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
